.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
    */
    margin: 0 auto;  
    width: 720px;
  }

  nav {
    border-radius: 8px;
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
  }

  ul{
    width:100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  ul li {
    border-right: 1px solid white;
    display: inline-block;
    margin: auto;
    padding: 0 6.6%;
  }

  ul li:last-child{
    border:0px;
  }

  li {
  }

  a {
    line-height: 3.5;
    width: 20%;
    text-decoration: none;
  }

  a:visited{
    color:black;
  }

  dl {
    display:block;
  }

  dt {
    width: 33%;
  }
  #tour {
    width: 720px;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;

  }

  #registration {
    position: absolute;
    right: 15px;
    border: 2px solid black;
    padding: 16px;


  }
  .feature {
    display: inline-block;
    width: 100%;  
    vertical-align: middle;
  }
  .textbox {
    padding-top: -10px;
    margin: 0px;
    display: inline-block;
    width:50%;
    float:right;
    vertical-align: midddle;
  }
  img {
    float: left;
    width: 49%;
  }

  h4 {
    margin: 0px;
  }

  #pricing {
  }

  .column {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
  }

